body {
  background-image: url(assets/background.jpg);
  background-size: cover;        /* Scales image to cover the whole screen */
  background-repeat: no-repeat;  /* Prevents tiling */
  background-position: center;   /* Centers the image */
  background-attachment: fixed;  /* Keeps the image fixed during scroll */

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}


.clock{
 color: white;
 font-size: 6rem;
 font-weight: bold;
 font-family: monospace;
 text-align: center;
 text-shadow: 3px 3px 5px black;
}